services:
  portainer:
    image: portainer/portainer-ce:2.39.0
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
    restart: always
volumes:
  portainer_data:
    external: true